# Liabrary

In [1]:
import pandas as pd
import numpy as np

# Dataframe

In [2]:
df=pd.read_csv("C:\\Users\\Saravanan\\OneDrive\\Desktop\\Datasets_data\\activities.csv")

In [3]:
df

,Activity Name,Activity Type,Park ID,Park Name,Timings,Height Restrictions,URL,Location Lat,Location Lng
0,Meet Donald Duck in Mexico,Entertainment,80007838,EPCOT,"09:30:00 to 09:30:00, 10:00:00 to 10:00:00, 10...",NaN,https://disneyworld.disney.go.com/entertainmen...,28.371185,-81.547297
1,Raglan Road Live Entertainment,Entertainment,80007798,NaN,NaN,NaN,https://disneyworld.disney.go.com/entertainmen...,28.371143,-81.517783
2,Atlantic Dance Hall,Entertainment,80008259,Disney's BoardWalk,20:00:00 to 01:00:00,NaN,https://disneyworld.disney.go.com/entertainmen...,28.367668,-81.557900
3,Meet Moana at Character Landing,Entertainment,80007823,Disney's Animal Kingdom Theme Park,"08:30:00 to 11:30:00, 13:30:00 to 15:45:00",NaN,https://disneyworld.disney.go.com/entertainmen...,28.357086,-81.589374
4,Springs Overlook,Entertainment,10460,Disney Springs,NaN,NaN,https://disneyworld.disney.go.com/entertainmen...,28.370383,-81.517411
...,...,...,...,...,...,...,...,...,...
273,Cotton-Top Tamarins - Disney Animals,Attraction,80007823,Disney's Animal Kingdom Theme Park,NaN,any-height,https://disneyworld.disney.go.com/attractions/...,28.357901,-81.591501
274,Komodo Dragons - Disney Animals,Attraction,80007823,Disney's Animal Kingdom Theme Park,NaN,any-height,https://disneyworld.disney.go.com/attractions/...,28.359440,-81.589237
275,"""it's a small world""",Attraction,80007944,Magic Kingdom Park,"07:30:00 to 08:00:00, 08:00:00 to 23:00:00",any-height,https://disneyworld.disney.go.com/attractions/...,28.420482,-81.582039
276,Bay Slides,Attraction,80007981,Disney's Typhoon Lagoon Water Park,10:00:00 to 18:00:00,60-inches-152-cm-or-shorter,https://disneyworld.disney.go.com/attractions/...,28.365402,-81.529838
277,Dino-Sue,Attraction,80007823,Disney's Animal Kingdom Theme Park,08:00:00 to 20:00:00,any-height,https://disneyworld.disney.go.com/attractions/...,28.355745,-81.588646

In [4]:
df.head(2)

,Activity Name,Activity Type,Park ID,Park Name,Timings,Height Restrictions,URL,Location Lat,Location Lng
0,Meet Donald Duck in Mexico,Entertainment,80007838,EPCOT,"09:30:00 to 09:30:00, 10:00:00 to 10:00:00, 10...",NaN,https://disneyworld.disney.go.com/entertainmen...,28.371185,-81.547297
1,Raglan Road Live Entertainment,Entertainment,80007798,NaN,NaN,NaN,https://disneyworld.disney.go.com/entertainmen...,28.371143,-81.517783

# Observation
Independent Column -Activity Type,Park Name,Timings,Height Restrictions,Location Lat,Location Lng
Dependent Column - Activity Name,Park ID,URL

In [5]:
Continuous_Column=['Timings ','Location Lat','Location Lng']
Categorical_Column=['Activity Name','Activity Type','Park ID','Height Restrictions','URL','Park Name']

# Data Cleaning

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Activity Name        278 non-null    object
 1   Activity Type        278 non-null    object
 2   Park ID              278 non-null    int64
 3   Park Name            270 non-null    object
 4   Timings              209 non-null    object
 5   Height Restrictions  179 non-null    object
 6   URL                  277 non-null    object
 7   Location Lat         270 non-null    float64
 8   Location Lng         270 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 19.7+ KB

In [6]:
df.describe()

            Park ID  Location Lat  Location Lng
count  2.780000e+02    270.000000    270.000000
mean   7.597927e+07     28.376507    -81.565965
std    1.752588e+07      0.024177      0.021580
min    1.046000e+04     28.351216    -81.593540
25%    8.000782e+07     28.358001    -81.584103
50%    8.000784e+07     28.368551    -81.567092
75%    8.000794e+07     28.375631    -81.550834
max    8.001040e+07     28.421282    -81.514730

In [7]:
df.isnull().sum()

Activity Name           0
Activity Type           0
Park ID                 0
Park Name               8
Timings                69
Height Restrictions    99
URL                     1
Location Lat            8
Location Lng            8
dtype: int64

In [8]:
# Drop rows with missing values in Park Name, Location Lat, and Location Lng
df.dropna(subset=['Park Name', 'Location Lat', 'Location Lng'], inplace=True)

# Fill missing values in URL with "Not Available"
df['URL'].fillna("Not Available", inplace=True)

# Impute missing values in Timings and Height Restrictions with "Unknown"
df['Timings'].fillna("Unknown", inplace=True)
df['Height Restrictions'].fillna("Unknown", inplace=True)

C:\Users\Saravanan\AppData\Local\Temp\ipykernel_15440\4233689608.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['URL'].fillna("Not Available", inplace=True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_15440\4233689608.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Timings'].fillna("Unknown", inplace=True)
C:\Users\Saravanan\AppData\Local\Temp\ipykernel_15440\4233689608.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height Restrictions'].fillna("Unknown", inplace=True)

In [9]:
df.isnull().sum()

Activity Name          0
Activity Type          0
Park ID                0
Park Name              0
Timings                0
Height Restrictions    0
URL                    0
Location Lat           0
Location Lng           0
dtype: int64

In [10]:
df.duplicated().sum()

0

# Statistical analysis
Continuous - Central Limit Theorem, 1-Tailed Test (one-sample t-test)

Continuous vs. Continuous - Correlation, 2-Tailed Test (two-sample t-test)

Continuous vs. Categorical - ANOVA (Analysis of Variance)

Categorical vs. Categorical - Chi-Square Test

In [12]:
number_df=df.select_dtypes(include='number')
corr_m=number_df.corr()
corr_m

              Park ID  Location Lat  Location Lng
Park ID       1.00000      0.053780     -0.536850
Location Lat  0.05378      1.000000     -0.197473
Location Lng -0.53685     -0.197473      1.000000

In [17]:
Continuous_Column=['Location Lat','Location Lng']
Categorical_Column=['Activity Name','Activity Type','Park ID','Height Restrictions','URL','Park Name']

In [18]:
def hypothesis_testing(df,Continuous_Column=[],Categorical_Column=[],sample_size=20,sample_rate=0.05):
    df=df
    # Central limit theoram
    onecontinuouscolumn_Result = {}
    for column in Continuous_Column:
        population = df[column].dropna().to_numpy()  # Drop NaN values and convert column to NumPy array
        population_mean = np.mean(population)
       
        sample_mean = []

        # Generate samples and calculate sample mean
        for i in range(40):
            sample = np.random.choice(population, size=sample_size, replace=True)
            sample_mean.append(np.mean(sample))

        onecontinuouscolumn_Result[column] = {
            "Population Mean": population_mean,
            "Sample Mean": np.mean(sample_mean)
        }
    return onecontinuouscolumn_Result

In [19]:
ContinuousColumn_Result=hypothesis_testing(df,Continuous_Column)

In [20]:
ContinuousColumn_Result_df=pd.DataFrame(ContinuousColumn_Result)
ContinuousColumn_Result_df

                 Location Lat  Location Lng
Population Mean     28.376575    -81.566510
Sample Mean         28.376594    -81.566749